.app_body_subsribe_panel {
  padding: 60px;
  margin-bottom: 100px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-radius: 32px;
  background: #000;

  position: relative;
}
.app_body_subsribe_panel > img {
  position: absolute;
  top: 316px;
  left: -42px;
}

.app_body_subsribe_panel_part_right {
  align-self: self-start;
}

.app_body_subsribe_panel_part_right > span {
  color: #118da8;

  font-family: 'DM Sans';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.app_body_subsribe_panel_part_right > h2 {
  max-width: 400px;
  color: #fff;

  font-family: 'DM Sans';
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 2.88px;
}

.app_body_subsribe_panel_part_left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.app_body_subsribe_panel_part_left > input {
  width: 522px;
  height: 82px;

  border-radius: 6px;
  border: 1px solid #191919;
  background: #191919;

  color: rgba(255, 255, 255, 0.7);

  font-family: 'DM Sans';
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

@media (max-width: 1100px) {
  .app_body_subsribe_panel {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .app_body_subsribe_panel > img {
    top: 530px;
    left: -42px;
  }

  .app_body_subsribe_panel_part_right {
    align-self: center;
  }

  .app_body_subsribe_panel_part_right > span {
    display: block;
    text-align: center;
  }

  .app_body_subsribe_panel_part_right > h2 {
    text-align: center;
  }

  .app_body_subsribe_panel_part_left {
    margin-top: 15px;
  }

  .app_body_subsribe_panel_part_left > div {
    display: flex;
    justify-content: center;
  }
}


@media (max-width:700px) {
  .app_body_subsribe_panel {
    padding: 30px;
    margin-bottom: 0px;
  }

  .app_body_subsribe_panel_part_right > h2 {
    font-size: 52px;
  }


  .app_body_subsribe_panel_part_left > input {
    width: 300px;
    height: 50px;
  }

  .app_body_subsribe_panel > img {
    display: none;
  }
}

@media (max-width:600px) {
  .app_body_subsribe_panel_part_right > h2 {
    font-size: 40px;
  }
}

@media (max-width:500px) {
  .app_body_subsribe_panel_part_right > h2 {
    font-size: 30px;
  }
}

@media (max-width:400px) {
  .app_body_subsribe_panel_part_left > input {
    width: 200px;
    height: auto;
  }
}